* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  height: 100vh;
  background: #f5f5f5;
}

/* Sidebar */

.sidebar {
  width: 250px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ddd;
}

.logo {
  padding: 20px;
}

.logo h2 {
  margin-bottom: 5px;
}

.logo p {
  font-size: 12px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #f0f0f0;
}

.active {
  background: #2f5d7c;
  color: white;
}

.logout-btn {
  margin: 20px;
  padding: 12px;
  border: none;
  background: #3b75c4;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* Main */

.main {
  flex: 1;
}

.header {
  background: #f0e3a1;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.search-box {
  padding: 30px;
  text-align: center;
}

.search-box input {
  width: 60%;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.table-container {
  margin: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background: #fafafa;
}